.customerForm {
    align-items: center;
    max-width: fit-content;
}

.infoForm {
    padding-left: 100px;
    float: left
}

.radioButtons {
    padding-top: 90px;
    padding-left: 200px;
    padding-right: 50px;
    float: right;
}



